@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(36, 36, 36);
}
header{
    background-image:linear-gradient(180deg, rgb(196, 0, 0), rgb(158, 0, 0));
    padding: 1% 1% 1% 1%;
    margin: 0px;
}
header h1{
    text-align: center;
    font-size: 55px;
    color: rgb(0, 0, 0);
}
nav{
    background-color: rgb(0, 0, 0);
    padding: 0.5% 1%;
    margin-bottom: 5%;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0.5% 1%;
}
nav a:hover{
    background-color: rgba(240, 248, 255, 0.479);
    border-radius: 5px;
    transition-duration: 0.7s;
}
main{
    background-color: rgb(17, 17, 17);
    margin: 0% 20%;
    padding: 5% 7%;
    font-size: 20px;
    border-radius: 10px;
}
main p{
    margin: 3% 5%;
    color: white;
}
main h1{
    color: white;
}
main a{
text-decoration: underline;
color: rgb(209, 209, 209);
}
main a:hover{
    color: rgb(117, 117, 117);
}
footer{
    text-align: center;
    background-color: rgb(12, 12, 12);
    padding: 3%;
    margin-top: 250px
}
footer p{
    color: aliceblue;
    font-size: 19px;
}
footer p a{
    text-decoration: none;
    color: white;
}
footer p a:hover{
    text-decoration: underline;
}