@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(36, 36, 36);
}
header{
    background-image:linear-gradient(180deg, rgb(196, 0, 0), rgb(158, 0, 0));
    padding: 1% 1% 1% 1%;
    margin: 0px;
}
header div{
    margin: 0% 0% 0% 85%;
    
}
#dark{
    width: 25px;
}
#dark:hover{
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 50%;
    padding: 2px;
}
#white{
    width: 28px;
}
#white:hover{
    background-color: rgba(255, 255, 255, 0.425);
    border-radius: 50%;
    padding: 2px;
}
header h1{
    text-align: center;
    font-size: 55px;
    color: rgb(0, 0, 0);
}
nav{
    background-color: rgb(0, 0, 0);
    padding: 0.5% 1%;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0.5% 1%;
}
nav a:hover{
    background-color: rgba(240, 248, 255, 0.479);
    border-radius: 5px;
    transition-duration: 0.7s;
}
main #conteudo{
    margin: 0% 8%;
    background-color: aliceblue;
    border-radius: 0px 0px 5px 5px ;
}
section h1{
    font-size: 35px;
    text-align: center;
}
section h2{
    margin: 2%;
    font-size: 30px;
    text-align: center;
}
img{
    width: 79%;
    margin: 1% 9%;
    padding: 1% 1%;
}
section p{
    padding: 2%;
    text-indent: 5px;
    text-align: justify;
    font-size: 23px;
}
section p .link{
    text-decoration: none;
    font-weight: bolder;
    color: rgb(38, 0, 255);
}
section p a:hover{
    text-decoration: underline;
    color: rgb(150, 150, 150);
}
footer{
    text-align: center;
    background-color: rgb(12, 12, 12);
    padding: 3%;
}
footer p{
    color: aliceblue;
    font-size: 19px;
}
footer p a{
    text-decoration: none;
    color: white;
}
footer p a:hover{
    text-decoration: underline;
}